.header {
    background: black;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
  }
  
  .logo {
    font-size: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #EBEDEF;
  }
  
  .form-container {
    background: #E5E8E8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
  }
  
  body {
    overflow: hidden;
  }